.div1{
	background-color:red;
	height:300px;
}
.div2{
	background-color:green;
	height:150px;
}
.div3{
	background-color:orange;
	height:150px;
}
.div4{
	background-color:pink;
	height:150px;
}
.div5{
	background-color:blue;
	height:150px;
}
.div6{
	background-color:yellow;
	height:150px;
}



