<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/estilos.css" rel="stylesheet">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Trabalho 2</title>
</head>

<body>
	<div class="container" ng-controller='jogo'>
		<div class="row">
			<div class="col-sm-3">
                <form action="">
					<input type="radio" name="porta" ng-model="door" ng-value="1"> Porta 1 <input ng-model="porta1" type="text" disabled="true"><br>
					<input type="radio" name="porta" ng-model="door" ng-value="2"> Porta 2 <input ng-model="porta2" type="text" disabled="true"><br>
					<input type="radio" name="porta" ng-model="door" ng-value="3"> Porta 3 <input ng-model="porta3" type="text" disabled="true"><br>
				</form>
            </div>
			<div class="col-sm-2">
			<br>
				<button ng-click="jogar()">Jogar</button>
                <input ng-model="jogo" type="text" disabled="true">
            </div>
	    </div>
		</div>
	</div>
	<script src="js/angular.min.js"></script>
    <script src="js/controller.js" charset="utf-8"></script>
</body>

</html>