<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/estilos.css" media="screen" title="no titel" rel="stylesheet">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Trabalho 2</title>
</head>

<body>
	<div class="container" ng-controller='jogo'>
		<div class="row">
			<div class = "col-sm-3" ng-repeat="porta in jogo track by $index">
				<div class="portas{{porta}}"></div>
			</div>
			<div class="col-sm-2">
			<br>
				<button ng-click="jogar()">Jogar</button>
                <input ng-model="jogo" type="text" disabled="true">
            </div>
	    </div>
	</div>
	</div>
	<script src="js/angular.min.js"></script>
    <script src="js/controller.js" charset="utf-8"></script>
</body>

</html>